In [171]:
#importing libraries
import pandas as pd
import numpy as np
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity

In [132]:
anime_df = pd.read_csv('anime.csv')
anime_df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [133]:
rating_df = pd.read_csv('rating.csv')
rating_df

         user_id  anime_id  rating
0              1        20      -1
1              1        24      -1
2              1        79      -1
3              1       226      -1
4              1       241      -1
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7813737 rows x 3 columns]

In [134]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [135]:
anime_df.shape

(12294, 7)

In [136]:
rating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB

In [137]:
type_mode = anime_df['type'].mode()

In [138]:
genre_mode = anime_df['genre'].mode()

In [139]:

#deleting anime with 0 ratings
anime_df = anime_df[~np.isnan(anime_df['rating'])]

In [140]:
anime_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12064 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12064 non-null  int64
 1   name      12064 non-null  object
 2   genre     12017 non-null  object
 3   type      12064 non-null  object
 4   episodes  12064 non-null  object
 5   rating    12064 non-null  float64
 6   members   12064 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 754.0+ KB

In [141]:
#filling mode values for genre and type

anime_df['genre'] = anime_df['genre'].fillna(genre_mode[0])
anime_df['type'] = anime_df['type'].fillna(type_mode[0])

<ipython-input-141-8146c322f637>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_df['genre'] = anime_df['genre'].fillna(genre_mode[0])
<ipython-input-141-8146c322f637>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_df['type'] = anime_df['type'].fillna(type_mode[0])

In [142]:
# checking whether all null values filled or not
anime_df.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [143]:
# in ratings -1 suggests that user has not given rating so we will fill with NaN 
rating_df['rating'] = rating_df['rating'].apply(lambda x:np.nan if x==-1 else x)

In [144]:
rating_df.head(20)

    user_id  anime_id  rating
0         1        20     NaN
1         1        24     NaN
2         1        79     NaN
3         1       226     NaN
4         1       241     NaN
5         1       355     NaN
6         1       356     NaN
7         1       442     NaN
8         1       487     NaN
9         1       846     NaN
10        1       936     NaN
11        1      1546     NaN
12        1      1692     NaN
13        1      1836     NaN
14        1      2001     NaN
15        1      2025     NaN
16        1      2144     NaN
17        1      2787     NaN
18        1      2993     NaN
19        1      3455     NaN

In [145]:
#now we have to recommend anime series which is of type TV only
anime_df = anime_df[anime_df['type']=='TV']

In [146]:
anime_df

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
...,...,...,...,...,...,...,...
10879,31698,Zhan Long Si Qu,"Cars, Kids",TV,64,4.80,67
10882,31427,Zinba,"Action, Adventure, Comedy, Demons, Magic, Supe...",TV,52,7.17,172
10889,13167,Zoobles!,Kids,TV,26,5.57,109
10892,7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172
10895,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120

In [147]:
#We make a new Dataframe combining both anime and rating on the anime_id column.
rated_anime_df = rating_df.merge(anime_df, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])

In [148]:

rated_anime_df

,user_id,anime_id,rating_user,name,genre,type,episodes,rating,members
0,1,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
1,3,20,8.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
2,5,20,6.0,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
3,6,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
4,10,20,NaN,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
...,...,...,...,...,...,...,...,...,...
5283591,53492,31071,3.0,"Kinyoru, Abe Reiji: Heikinteki na Salaryman no...",Comedy,TV,5,4.14,234
5283592,53492,31177,4.0,Yakyuubu Aruaru,Sports,TV,3,4.00,149
5283593,53492,31237,5.0,Ganbare-bu Next!,"Comedy, Sports",TV,6,5.36,70
5283594,53492,31464,3.0,Pichiko Dakyuubu,"Comedy, Sports",TV,29,5.00,39
5283595,62710,30173,8.0,Fruity Samurai,"Action, Comedy, Historical, Samurai",TV,13,5.52,134

In [149]:
#Leaving only user_id, name and rating as the Df.
rated_anime_df = rated_anime_df[['user_id','name','rating']]
rated_anime_df

         user_id                                               name  rating
0              1                                             Naruto    7.81
1              3                                             Naruto    7.81
2              5                                             Naruto    7.81
3              6                                             Naruto    7.81
4             10                                             Naruto    7.81
...          ...                                                ...     ...
5283591    53492  Kinyoru, Abe Reiji: Heikinteki na Salaryman no...    4.14
5283592    53492                                    Yakyuubu Aruaru    4.00
5283593    53492                                   Ganbare-bu Next!    5.36
5283594    53492                                   Pichiko Dakyuubu    5.00
5283595    62710                                     Fruity Samurai    5.52

[5283596 rows x 3 columns]

In [150]:
#we will compute this based on first 7500 users only
rated_anime_first_7500_df = rated_anime_df[rated_anime_df.user_id<=7500]

In [151]:
rated_anime_first_7500_df

         user_id                     name  rating
0              1                   Naruto    7.81
1              3                   Naruto    7.81
2              5                   Naruto    7.81
3              6                   Naruto    7.81
4             10                   Naruto    7.81
...          ...                      ...     ...
5281053     7452            Meiken Lassie    6.92
5281058     7452                Play Ball    6.40
5281065     7452            Play Ball 2nd    6.56
5281068     7452        Paris no Isabelle    6.19
5281073     7452  Meimon! Daisan Yakyuubu    6.44

[549739 rows x 3 columns]

In [152]:
#creating pivot table for calculation of similarity

pivot_df = rated_anime_first_7500_df.pivot_table(index = ['user_id'],columns = ['name'],values = 'rating')
pivot_df

name,.hack//Roots,.hack//Sign,.hack//Tasogare no Udewa Densetsu,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,3 Choume no Tama: Uchi no Tama Shirimasenka?,30-sai no Hoken Taiiku,91 Days,...,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,iDOLM@STER Xenoglossia,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,6.49,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.11,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
#normalization

pivot_n_df = pivot_df.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)),axis=1)
pivot_n_df

name,.hack//Roots,.hack//Sign,.hack//Tasogare no Udewa Densetsu,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,3 Choume no Tama: Uchi no Tama Shirimasenka?,30-sai no Hoken Taiiku,91 Days,...,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,iDOLM@STER Xenoglossia,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,-0.394201,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.128307,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
#filling NaN values with 0
pivot_n_df=pivot_n_df.replace(np.nan,0)
pivot_n_df

user_id,1,2,3,4,5,6,7,8,9,10,...,7491,7492,7493,7494,7495,7496,7497,7498,7499,7500
name,,,,,,,,,,,,,,,,,,,,,
.hack//Roots,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Sign,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Tasogare no Udewa Densetsu,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009-1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gdgd Fairies 2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
iDOLM@STER Xenoglossia,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s.CRY.ed,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC,0.0,0.0,0.0,0.0,0.128307,0.0,0.0,0.0,0.0,0.0,...,0.160225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Kei,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.252967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
#transposing pivot table for the next step
pivot_n_df = pivot_n_df.T

In [166]:
pivot_n_df

user_id,1,2,3,4,5,6,7,8,9,10,...,7491,7492,7493,7494,7495,7496,7497,7498,7499,7500
name,,,,,,,,,,,,,,,,,,,,,
.hack//Roots,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Sign,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Tasogare no Udewa Densetsu,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009-1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gdgd Fairies 2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
iDOLM@STER Xenoglossia,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s.CRY.ed,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC,0.0,0.0,0.0,0.0,0.128307,0.0,0.0,0.0,0.0,0.0,...,0.160225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Kei,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.252967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [167]:
#dropping columns with values 0 rating 
pivot_n_df = pivot_n_df.loc[:, (pivot_n_df != 0).any(axis=0)]

In [168]:
pivot_n_df

user_id,1,2,3,4,5,6,7,8,10,11,...,7489,7490,7491,7492,7494,7495,7496,7497,7499,7500
name,,,,,,,,,,,,,,,,,,,,,
.hack//Roots,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Sign,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,-0.179964,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
.hack//Tasogare no Udewa Densetsu,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009-1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-Ghost,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
gdgd Fairies 2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
iDOLM@STER Xenoglossia,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
s.CRY.ed,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,-0.062983,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC,0.0,0.0,0.0,0.0,0.128307,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.181128,0.160225,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xxxHOLiC Kei,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.252967,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
#Using scipy package to convert to sparse matrix format for the similarity computation
pivot_sparse = sp.sparse.csr_matrix(pivot_n_df.values)

In [176]:
#model based on anime similarity

anime_similarity = cosine_similarity(pivot_sparse)

In [177]:
#Df of anime similarities
anime_sim_df = pd.DataFrame(anime_similarity,index = pivot_n_df.index,columns = pivot_n_df.index)

In [182]:
def anime_recomendation(anime_name):
    number = 1
    print('recomended because you watched {}:\n'.format(anime_name))
    for anime in anime_sim_df.sort_values(by =anime_name , ascending = False).index[1:6]:
        print(f'#{number}: {anime}   -   {round(anime_sim_df[anime][anime_name]*100,2)} %match')
        number+=1

In [190]:
anime_recomendation('Code Geass: Hangyaku no Lelouch')

recomended because you watched Code Geass: Hangyaku no Lelouch:

#1: Code Geass: Hangyaku no Lelouch R2   -   90.71 %match
#2: Death Note   -   57.35 %match
#3: Tengen Toppa Gurren Lagann   -   51.01 %match
#4: Fullmetal Alchemist: Brotherhood   -   50.4 %match
#5: Darker than Black: Kuro no Keiyakusha   -   49.96 %match